.bg_template_img {
    background-color: #d9d9d900;
    /* color: #EB4335; */
    color: #fff;
    width: 330px;
    height: auto;
    display: flex;
    justify-content: center;
}


.text_template_img {
    font-size: 7rem;
}
